name: Build & Deploy iOS

on:
  push:
    branches:
      - main  # Exécute l’action à chaque push sur la branche main

jobs:
  build:
    runs-on: macos-latest  # Utilisation d'un environnement macOS g

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: 3.27.3  # Mets ta version de Flutter ici
          cache: true

      - name: Install Fastlane
        run: gem install fastlane
      - name: Fetch Certificates via Match
        env:
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          MATCH_GIT_TOKEN: ${{ secrets.MATCH_GIT_TOKEN }}
        run: |
          cd ios
          fastlane match appstore  # Exécute Match sur MacOS uniquement


      - name: Install dependencies
        run: flutter pub get
      
      - name: Enable iOS support
        run: flutter config --enable-ios

      - name: Force iOS 13+ in Podfiles
        run: |
          cd ios
          sed -i -e 's/^# *platform :ios, .*/platform :ios, "14.0"/' Podfile || echo 'platform :ios, "14.0"' >> Podfile
          cat Podfile  # Affiche le fichier Podfile pour vérification
          cd ..

      - name: Install CocoaPods dependencies
        run: |
          cd ios
          pod init || true
          pod repo update
          pod install --verbose
          cd ..

      - name: Create Firebase Service Account JSON
        run: |
            mkdir -p assets/credentials
            echo '${{ secrets.FIREBASE_SERVICE_ACCOUNT_JSON }}' > assets/credentials/service_account_key.json
      
      - name: Install Certificates in Keychain
        run: |
          security create-keychain -p "" build.keychain
          security list-keychains -s build.keychain
          security default-keychain -s build.keychain
          security unlock-keychain -p "" build.keychain
          security import ~/Library/Keychains/login.keychain-db -k build.keychain -T /usr/bin/codesign
          security set-key-partition-list -S apple-tool:,apple: -s -k "" build.keychain

      - name: Debug Vérifier les certificats téléchargés
        run: ls -la ~/Library/MobileDevice/Provisioning\ Profiles/

      - name: Build iOS App
        run: |
            cd ios
            bundle install
            bundle exec fastlane build

      - name: Upload IPA Artifact
        uses: actions/upload-artifact@v4
        with:
          name: iOS-Build
          path: build/ios/ipa/
